*{
    margin: 0px;
    padding: 0px;
}
/*------------------------------------------MENU DE USUARIO-------------------------------------------*/

/*BUSCADOR*/
nav{                
    width: 100%;
}
.container1{                                /*Contenedor del buscadores*/
    margin: 50px auto 20px auto;
    height: 160px;
    width: 1160px;
    position: relative;
}
.shearch1{                                  /*Espacio de buscador del usuario*/
    position: absolute;
    height: 130px;
    width: 1155px;
    border: solid 3px;
    background-color: rgba(231, 222, 222, 0.329);    
    display: block;   /*asigna el 100% de un bloque al elemento*/
    padding: 10px 0px;
    border-radius: 20px;
}
.buscador1{                                 /*Buscador*/
    display: inline-block;
    height: 50px;
    width: 800px;
    margin: 20px 0px 0px 0px;
    padding: 0px 10px;
    border-radius: 7px;
}
.Confiltros{                                /*Contenedor de filtros*/
    margin: auto;
    width: 270px;
    height: 50px;
}
.filtro1, .filtro2{                         /*Filtros de buscador*/
    display: inline-block;
    margin: 9px auto 0px auto;
    width: 30px;
    cursor: pointer;
}
.shearchRadio{                              /*Respuesta del texto de los filtros*/
    cursor: pointer;
}
.buscador1:hover,.camp1prod:hover,.camp2prod:hover,.camp3prod:hover{ /*Respuesta de los campos de texto*/
    border-color: rgb(114, 253, 0);
}
.busqueda{
    display: inline-block;
    height: 50px; 
    margin: 20px 0px 0px 125px;
    padding: 0px 10px;
    border-radius: 7px;
}

/*TABLAS*/

.tablaProdt{                                /*Diseño de la tabla*/
    margin-bottom: 20px;
    display: block;
    margin: 0px auto 15px auto;
    width: 1160px;
    height: 380px;
    border: 1px solid black;
    border-collapse: collapse;
    overflow: auto;         /*sirve para crear un scroll*/
    border-radius: 7px;
    box-shadow: 0px 1px 10px 0px rgba(47, 51, 44, 0.432);
}
.tablaProdt::-webkit-scrollbar{             /*Diseño del campo del scroll*/
    background-color: rgb(0, 0, 0);
    width: 12px;
    border-radius: 7px;
}
.tablaProdt::-webkit-scrollbar-thumb{       /*Diseño del scroll*/
    background-color: rgb(206, 205, 205);
    border-radius: 7px;
}
.tablaProdt::-webkit-scrollbar-thumb:hover{ /*Reaccion del scroll*/
    background-color: rgb(139, 248, 50);
}
th{                                         /*Diseño de los titulos de la tala*/
    background-color: yellowgreen;
}
tr:nth-child(even){                         /*Diseño a las filas pares*/
    background-color: rgba(104, 104, 119, 0.4);
}
tr:nth-child(odd){                          /*Aplica color a las filas impares*/
    background-color: rgba(139, 248, 50, 0.4);
}
tr:hover{                                   /*Reaccion de los 2 tipos de filas de las tablas*/
    background-color: rgba(63, 60, 60, 0.61);
    cursor: pointer;
}

/*BOTONES*/

.conBtns{                                   /*Diseño del contenedor de los botones*/
    width: 1000px;
    height: 70px;
    background-color: rgba(207, 193, 193, 0.589);
    margin: 30px auto 0px ;
    border-radius: 10px;
    border: solid 3px;
}
.btnprdt, .btnprdt:visited{                 /*Diseño de los botones*/
    border: solid 1px black;
    background-color: rgb(139, 248, 50);
    color: black;
    width: 150px;
    height: 27px;
    padding: 9px 0px 0px 0px;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    float: left;
    display: block;
    margin: 17px 43px 17px 43px;
}
.btnprdt:hover{                             /*Diseño de la reaccion de los botones*/
background-color: aqua;
border-color: aqua;
}
.btnprdt:active{                            /*Diseño al interactuar con los botones*/
background-color: chartreuse;
border-color: chartreuse;
}

/*---------------------------------------CREAR Y EDITAR USUARIO---------------------------------------*/

.titulo{
    width: 700px;
    height: 30px;
    text-align: center;
    margin: 30px auto 0px;
}
.ContForm{
    width: 700px;
    height: 500px;
    margin: 30px auto;
    border-radius: 40px;
}
.ContUser{
    background-color: rgba(0, 0, 0, 0.308);
    height: 100px;
    margin: 30px auto;
    border-radius: 30px;
}
.ContData{
    background-color: rgba(0, 0, 0, 0.308);
    height: 400px;
    border-radius: 30px;
}
.campT{
    width: 180px;
    height: 36px;
    border-radius: 15px;
    margin: 32px 30px 32px 0px ;
    padding: 0px 5px;
    border: 2px solid transparent;
}
.campT:hover{
    border: 2px solid greenyellow;
}
.BarraRoles{
    width: 184px;
    height: 40px;
    border-radius: 15px;
    margin: auto;
}
.txt{
    color: white;
    font-size: 13px;
    width: 85px;
    height: 40px;
    display: inline-block;
    text-align: center;
    margin: 15px 0px 0px 20px;
}
div.ContData > div{
    height: 100px;
}
.contBtn{
    width: 700px;
    height: 70px;
}
.btnGuardar{
    display: block;
    width: 140px;
    height: 40px;
    margin: 20px auto;
    border-radius: 15px;
    background-color: yellowgreen;
    cursor: pointer;
}
.btnGuardar:hover, .btnSalir:hover{
    border: 1px solid greenyellow;
}
.btnGuardar:active{
    background-color: chartreuse;
    border-color: chartreuse;
}
.btnSalir{
    display: block;
    width: 110px;
    height: 25px;
    margin: 20px auto;
    border-radius: 15px;
    background-color: yellowgreen;
    cursor: pointer;
    border: solid 2px black;
    text-align: center;
    padding-top: 10px;
}
a{
    text-decoration: none;
    color: black;
}
a:visited{
    color: black;
}