img{                                               /* Condiciones de las imagenes */
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}
#Boton-inicio{                                     /* BOTON DE INICIO */
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.507);
    overflow: hidden;
    opacity: 0.8;
    box-shadow: 10px 10px 30px #000;
}
#Boton-inicio:hover{
    background-color: rgba(0, 0, 0, 0.918);
    box-shadow: 10px 10px 30px rgb(139, 248, 50);
}

/*-----------------------------------------------------INICIO DE SESION-----------------------------------------------------*/

#Contenedor-login{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 420px;
    height: 640px;
    border-radius: 60px;
    background-color: rgba(2, 2, 2, 0.479);
    box-shadow: 10px 10px 30px #000;
    display: none;
}
.Logo{
    max-width: 290px;
    max-height: 250px;
    margin: 10px auto 5px;
}
.close-btn{
    position: absolute;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 18px;
    top: 24px;
    right: 31px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    opacity: .2;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.close-btn:hover{
    opacity: .5;
}
.btn-outline3{                                      /* Diseño de barra desplegable usuario */
    display: block;
    margin: 10px auto 0px;
    border-radius: 5px;
    border-color:black;
    background-color: rgb(139, 248, 50);
}
.btn-outline3:hover{                                /* Diseño de reaccion barra desplegable usuario */
    border-color: rgb(139, 248, 50);
}
.Txt-login{                                         /* Diseño de campo de texto de ID Y PASSWORD */
    display: block;
    width: 270px;
    height: 40px;
    margin: 30px auto;
    padding: 0px 31px 0px 28px;
    border-style: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    color: white;
    outline: none;
}
.Txt-login:hover, .Txt-login:focus{                 /* Diseño de reaccion del campo de texto ID y contraseña */
    border-style: none;
    border-bottom: 2px solid rgb(139, 248, 50);
    border-radius: 7px;  
    background-color: transparent;
    box-shadow: 2px 2px 2px 2px greenyellow;
}
::-webkit-input-placeholder{                        /*Diseño del placeholder*/
    color: #ddd;
}
.Contenedor-txt{                                    /* contenedor del password y ojo */      
    position: relative;
    width: 100%;
    height: 40px;
}
.icono-user{                                        /* Diseño del boton icono usuario */
    position: absolute;
    font-size: 17px;
    left: 80px;
    top: 4px;
}
.inoco-ojo{                                         /* Diseño del boton icono ojo */
    position: absolute;
    font-size: 20px;
    right: 78px;
    top: 3px;
    color: #000;
    cursor: pointer;
}
.icono-unlock{                                      /* Diseño del boton icono candado */                                   
    position: absolute;
    font-size: 20px;
    left: 80px;
    top: 3px;
}
.Recordar{                                          /* Diseño del texto recordar contraseña */
    display: block;
    width: 170px;
    color: white;
    cursor: pointer;
    margin: 20px auto 0px;
}
.checkbox{                                          /* Diseño del checkbox */
    cursor: pointer;
}
#olvid-pass, #Cambiar-pass{                         /* Diseño de los links*/
    display: block;
    text-align: center;
    margin: auto;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
#olvid-pass:hover, #Cambiar-pass:hover,
.Recordar:hover , .inoco-ojo:hover{
    color: rgb(139, 248, 50);
}
.btn-outline1{                                      /* Diseño de boton inicio sesion */
    height: 40px;
    display: block;
    margin: 25px auto 0px;
    border-radius: 10px;
    border: 1px solid rgb(139, 248, 50);
    background-color: rgb(139, 248, 50);
}
.btn-outline1:hover{                                /* Diseño de reaccion del boton inicio sesion */
    border-color: rgb(0, 0, 0);
}

/*---------------------------------------------------RECUPERAR CONTRASEÑA---------------------------------------------------*/

#Contenedor-recuperar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 850px;
    height: 500px;
    margin: auto;
    padding-top: 1px;
    display: none;
}
.conTitle{                                          /* Diseño del contenedor del titulo*/
    width: 800px;
    margin: 65px auto 0px auto;
}
.titulo{                                            /* Diseño del titulo */
    color: rgb(255, 255, 255);
    text-align: center;
}
.contTexto{                                         /* Diseño del contenedor del texto */
    height: 70px;
    width: 700px;
    margin: 0px auto;
}
P{                                                  /* Diseño del parrafo */
    text-align: center;
    color: black;
    font-size: 20px;
}
.contCampTxt{                                       /* Diseño de contenedor de los campos de texto */
    position: relative;
    height: 90px;
    width: 100%;
}
.campTxt{                                           /* Diseño de los campos del texto ID USUARIO Y E-MAIL */
    display: block;
    width: 270px;
    height: 40px;
    margin: 25px auto;
    padding: 0px 31px 0px 28px;
    border-style: none;
    border-radius: 7px;
    border-bottom: 2px solid rgb(0, 0, 0);
    background-color: transparent;
    color: rgb(0, 0, 0);
    outline: none;
}
.campTxt:hover, .campTxt:focus{                   /* Diseño de reaccion de los campos de texto */
    border-style: none;
    border-bottom: 2px solid rgb(139, 248, 50);
    border-radius: 7px;  
    background-color: transparent;
    box-shadow: 2px 2px 2px 2px greenyellow;
}
.icono-RC{
    position: absolute;
    font-size: 18px;
    left: 284px;
    top: 5px;
}
.contBtn{                                           /* Diseño de los contenedores de botones */
    height: 90px;
    width: 100%;
}
.BtnValida{                                         /* Diseño de boton de validar */
    height: 50px;
    width: 180px;
    border-radius: 25px;
    margin: 20px 335px;
    background-color: rgb(0, 183, 255);
    border-color: rgba(0, 0, 0, 0);
    color: white;
    cursor: pointer;
}
.BtnCancel{                                         /* Diseño de boton de cancelar */
    height: 50px;
    width: 150px;
    border-radius: 25px;
    margin: 20px 350px;
    background-color: rgb(0, 183, 255);
    border-color: rgba(0, 0, 0, 0);
    color: white;
    cursor: pointer;
;
}
.BtnValida:hover, .BtnCancel:hover{                 /* Diseño de reaccion de los botones */
    border: blue ridge 3px;

}

/*----------------------------------------------------CAMBIAR CONTRASEÑA----------------------------------------------------*/

.titulo2{                                           /* Diseño del titulo */
    text-align: center;
    margin: 50px auto 10px auto;
}
#Contenedor-cambiar{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1400px;
    height: 600px;
    margin: auto;
    display: none;
}
.container2{                                        /* Diseño del contenedor del formulario */
    width: 1200px;
    height: 500px;
    margin: auto;
    position: relative;
}
.contDts{                                           /* Diseño del contenedor de datos del usuario */
    position: absolute;
    width: 500px;
    height: 250px;
    margin: 30px 66px;
}
.contPassword{                                      /* Diseño del contenedor de las nuevas contraseñas */
    width: 500px;
    height: 250px;
    position: absolute;
    right: 0px;
    margin: 30px 66px;
}
.titulos{                                           /* Diseño del titulo del contenedor de datos de usuario */
    color: white;
    text-align: center;
    font-size: 30px;
}
.al{
    border-radius: 20px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.356);
    box-shadow: 10px 10px 30px #000;
}
.campTxt2{                                          /* Diseño de los campos de texto */
    display: block;
    width: 270px;
    height: 40px;
    margin: 0px auto;
    padding: 0px 31px 0px 28px;
    border-style: none;
    border-radius: 7px;
    border-bottom: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    color: white;
    outline: none;
}
.campTxt2:hover, .campTxt2:focus{                   /* Diseño de reaccion de los campos de texto */
    border-style: none;
    border-bottom: 2px solid rgb(139, 248, 50);
    border-radius: 7px;  
    background-color: transparent;
    box-shadow: 2px 2px 2px 2px greenyellow;
}
.txtCamp{                                           /* Diseño del texto de el texto sobre el campo de texto */
    display: block;
    text-align: center;
    width: 200px;
    margin: 0px auto -15px;
    color: rgb(139, 248, 50);
    font-size: 15px;
}
.conDato{                                           /* Diseño de los contenedores de campos de texto*/
    position: relative;
    display: block;
    margin: 44px auto;
}
.icono-CC{                                          /* Diseño del boton icono candado */                                   
    position: absolute;
    font-size: 18px;
    left: 118px;
    top: 36px;
}
div.conDato > label{
    display: block;
    margin: auto;
}
.conBtn1{                                           /* Diseño del contenedor del boton confirmr*/
    display: block;
    width: 200px;
    height: 100px;
    margin: -22px 500px;
    position: absolute;   
    bottom: 100px; 

}
.conBtn2{                                           /* Diseño del contenedor de boton cancelar*/
    width: 200px;
    height: 100px;
    margin: -10px 500px;
    position: absolute;
    bottom: 0px; 
}
.btnConfirmar{                                      /* Diseño del boton confirmar */
    width: 150px;
    height: 50px;
    margin: 30px 25px 10px ;
    border-radius: 25px;
    background-color: rgb(139, 248, 50);
    cursor: pointer;
    border-color: rgba(240, 248, 255, 0);
}
.btnCancel{                                         /* Diseño del boton cancelar */
    width: 130px;
    height: 40px;
    margin: 15px 35px;
    border-radius: 20px;
    background-color: rgb(139, 248, 50);
    cursor: pointer;
    border-color: rgba(240, 248, 255, 0);
}
.btnConfirmar:hover, .btnCancel:hover{              /* Diseño de reaccion de los botones confirmar y cancelar */
    border-color: rgb(139, 248, 50);   
}
