
/*------------------------------------------MENU DE USUARIO-------------------------------------------*/
.menu1{                              /*Espacio del menu*/
    height: 37px;
    width: 995px;
    margin: 30px auto 2px; 
}
.botonMenu, .botonMenu:visited{      /*Diseño de los botones*/
    background-color: rgb(139, 248, 50);
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    float: left;
    text-align: center;
    margin: 0px 4px 0px 0px; 
    padding: 10px 44px 10px 44px;
    border-radius: 10px 10px 0px 0px;
}
.botonMenu:hover{                    /*Diseño de la Reaccion de los botones*/
    background-color: rgba(91, 88, 95, 0.644);
}
.botonMenu:active{                   /*Diseño al interactuar con los botones*/
    background-color: rgba(95, 88, 88, 0.589);
    color: rgb(255, 255, 255);
}
/*BUSCADOR*/
.col-md-7, .col-md-5, .dataTables_length { /*Elementos del pluggin innecesario*/
    display: none;
}
label{                                     /*Texto del buscador*/
    margin-left: 65px;
}
.form-control-sm{                          /*Diseño del buscador*/
    height: 50px;
    width: 800px;
    margin: 40px 20px 0px 20px;
    padding: 0px 10px;
    border-radius: 7px;
    outline: none;
    padding: 0px 20px;
}
.form-control-sm:hover{
    border-color: greenyellow;
}
.dataTables_filter{                        /*Diseño del contenedor del buscador*/
    height: 130px;
    width: 1021px;
    border: solid 3px;
    background-color: rgba(231, 222, 222, 0.329);    
    display: block;   /*asigna el 100% de un bloque al elemento*/
    padding: 10px 0px;
    border-radius: 20px;
    margin: 00px 0px 30px;
}
.form-control-sm:hover{
    border-color: rgb(114, 253, 0);
}

/*TABLAS*/

#tabla{                                     /*Diseño de la tabla*/
    display: block;
    margin: 0px auto 15px auto;
    width: 1160px;
    height: 380px;
    border: 1px solid black;
    border-collapse: collapse;
    overflow: auto;         /*sirve para crear un scroll*/
    border-radius: 7px;
    box-shadow: 0px 1px 10px 0px rgba(47, 51, 44, 0.432);
}
#tabla::-webkit-scrollbar{                  /*Diseño del campo del scroll*/
    background-color: rgb(0, 0, 0);
    width: 12px;
    border-radius: 7px;
}
#tabla::-webkit-scrollbar-thumb{            /*Diseño del scroll*/
    background-color: rgb(206, 205, 205);
    border-radius: 7px;
}
#tabla::-webkit-scrollbar-thumb:hover{      /*Reaccion del scroll*/
    background-color: rgb(139, 248, 50);
}
th{                                         /*Diseño de los titulos de la tala*/
    background-color: yellowgreen;
    height: 30px;
    border: solid 1px;
}
td{
    width: 138px;
    height: 50px;
    text-align: center;
}
.selector{
    width: 20px;
    padding: 0px 5px;
}
tr:nth-child(even){                         /*Diseño a las filas pares*/
    background-color: rgba(104, 104, 119, 0.4);
}
tr:nth-child(odd){                          /*Aplica color a las filas impares*/
    background-color: rgba(139, 248, 50, 0.4);
}
tr:hover{                                   /*Reaccion de los 2 tipos de filas de las tablas*/
    background-color: rgba(63, 60, 60, 0.61);
    cursor: pointer;
}

/*BOTONES*/

.conBtns{                                   /*Diseño del contenedor de los botones*/
    width: 1021px;
    height: 70px;
    background-color: rgba(207, 193, 193, 0.589);
    margin: 30px auto 0px ;
    border-radius: 10px;
    border: solid 3px;
}
.btnprdt, .btnprdt:visited{                 /*Diseño de los botones tipo link*/
    border: solid 1px black;
    background-color: rgb(139, 248, 50);
    color: black;
    width: 150px;
    height: 27px;
    padding: 9px 0px 0px 0px;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    float: left;
    display: block;
    margin: 17px 43px 17px 70px;
}
.btnprdt:hover, .btnprdt2:hover{            /*Diseño de la reaccion de los botones*/
background-color: aqua;
border-color: aqua;
}
.btnprdt:active, .btnprdt2:active{          /*Diseño al interactuar con los botones*/
background-color: chartreuse;
border-color: chartreuse;
}
.btnprdt2{                                  /*Diseño de los botones*/
    border: solid 1px black;
    background-color: rgb(139, 248, 50);
    color: black;
    width: 152px;
    height: 38px;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    float: left;
    display: block;
    margin: 17px 43px 17px 43px;
    cursor: pointer;
    font-weight: bold;
}


