
.container{
    margin: -60px auto 0px auto;
    width: 800px;
    height: 620px;
    position: relative;
}
.cajon{                            /* Diseño del contenedor del formulario */
    background-image: url(../IMG/imgsupport5.jpg);
    background-color: rgba(0, 0, 0, 0.377);
    position: absolute;
    width: 373px;
    height: 590px;
    border-radius: 3cm;
    margin: 50px 231px;
}
.icono3{                           /* Diseño de boton de regreso al menu principal */
    position: absolute;
    top: 10px;
    width: 40px;
    height: 40px;
    margin: 0px 0px -15px 30px ;
}
.TxtMenu{                          /* Diseño de texto*/
    position: absolute;
    left: 5px;
    top: 30px;
    margin: 23px 0px 0px 25px;
}
.TxtInput{                         /* Diseño de texto nombre*/
    text-align: center;
}
.campoTex{                         /* Diseño de campo de texto de todos menos mensaje*/
    height: 25px;
    width: 200px;
    margin: -20px 86px -20px 86px;
    border-radius: 7px;
}
.campoTexM{                        /* Diseño de campo de texto mensaje*/
    height: 110px;
    width: 300px;
    margin: 0px 36.5px;
    border-radius: 12px;
}
.campoTex:hover, .campoTexM:hover{ /* Diseño de reaccion de campo de texto de todos*/
    border-color: rgb(139, 248, 50);
}
.container2{                       /* Diseño de contenedor informacion de proveedor*/
    height: 120px;
    width: 176px;
    float: left;
    margin: 0px 0px 0px 10px;
    border-radius: 30px;
}
.container3{                       /* Diseño de contenedor de boton de enviar*/
    height: 120px;
    width: 160px;
    float: right;
    margin: 0px 10px 0px 0px;
    border-radius: 30px;
}
.BtnEnviar{                        /* Diseño de boton enviar*/
    height: 50px;
    width: 100px;
    margin: 35px 30px;
    border-radius: 20px;
    background-color: rgb(139, 248, 50);
}
.BtnEnviar:hover{                  /* Diseño de reaaccion boton enviar*/
    border-color: rgb(139, 248, 50);
}
.InfoPrv{                          /* Diseño de espacop de informacion del proveedor*/
    padding: 5px 0px 10px 8px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.493);
    height: 100px;
    width: 152px;
    margin: 3.5px 20px;
}
small{                             /* Diseño de texto de informacion del proveedor*/
    color: white;
}